# Ignore Gradle build output
/build/
/.gradle/
/.gradle/*

# Ignore compiled Java classes
*.class

# Ignore JAR/WAR/ZIP files
*.jar
*.war
*.zip
*.tar

# Ignore Gradle lock files
**/*.lock

# Ignore execution history
.gradle/8.10.2/executionHistory/*.bin
.gradle/8.10.2/executionHistory/*.lock

# Ignore checksums
.gradle/8.10.2/checksums/*.lock

# Ignore other Gradle caches and temporary files
.gradle/buildOutputCleanup/*.lock
.gradle/fileHashes/*.bin
.gradle/fileHashes/*.lock
.gradle/fileHashes/resourceHashesCache.bin
.gradle/file-system.probe

# Ignore IntelliJ IDEA project files
.idea/
*.iml
workspace.xml

# Ignore specific files
**/build/resolvedMainClassName
**/build/tmp/bootJar/MANIFEST.MF

# Ignore other project-related files
**/*.properties
**/*.bat
**/*.sh
